* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  .main-class-nav {
    background-color: black;
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;     
  }
  .homepage-content{
    margin: auto;
    background-color: black;
    height: 100vh;
    width:100vw;
  }
/* .nav {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 40px;
} */
.nav-bar {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* height: 9vh; */
    box-shadow: 0 2px 4px 0 rgb(253 250 250 / 95%);
    /* font-size: 2vw; */
    /* padding: 0;*/
  }
  .logo {
    padding: 25px;
    /* background:blue; */
    /* text-align: left; */
    color: whitesmoke;
    font-family: arial;
   
  }
  .nav-items:hover {
    background: hsl(44, 86%, 48%);
  }
  .nav-items {
    padding: 25px;
    text-align: center;
    text-decoration: none;
    color:white;
    font-family: arial;
    gap: 5vw;
    cursor: pointer;
    transition: all linear 0.3s;
    /* background:blue; */
  }
  .items {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    transition: all linear 0.3s;
  }
  .navbar-img {
    width: 20px;
    position: absolute;
    top: 20px;
    right: 10vw;
    display: none;
  }
  .navbar-img :hover {
    color: #eed026;
    
  }
  
  @media screen and (min-width: 600px) {
    .show-items {
      height: auto;
    }
  }